extends ./layout/app
block styles 

block container

    div(class="py-5 ")

        section(class="py-10")
            h2(class="text-center text-4xl font-extrabold pt-5")= title 

            
    

block scripts 